<nav class="navbar navbar-light bg-light">
  <div>
    <a class="navbar-brand" href="#">HotBods</a>
    <%#= link_to('Enter Weight', new_user_session_path)  %>
  </div>

  <div>
    <% if user_signed_in? %>
      <%#= link_to "Edit User", edit_user_registration_path %>
      <%="Hello #{current_user.first_name}" if user_signed_in?%> |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign Up', new_user_registration_path %> |
      <%= link_to 'Login', new_user_session_path %>
    <% end %>
  </div>
</nav>


<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          Current Weights
        </div>
        <div class="card-block">
          <p class="card-text">
            <%@users.order(:id).each do |user|%>
              <%=user.first_name%> - <%=(weight = user.weight_data.order(:created_at).last.try(:weight)).nil? ? "n/a" : weight%><br/>
            <%end%>
          </p>
        </div>
      </div>

      <% if user_signed_in? %>
        <%unless current_user.paid%>
          <div class="card" style="margin-top: 30px">
            <div class="card-header">
              Buy In
            </div>
            <div class="card-block">
              <p class="card-text">
                You owe your buy in money of $50. Click <%=link_to "here", "https://www.paypal.me/BryanCurry", id: "pay_due"%> to pay.
              </p>
            </div>
          </div>
        <%end%>
      <%end%>


      <div class="card" style="margin-top: 30px">
        <div class="card-header">
          Log Your Weight<br />
        </div>
        <div class="card-block">
          <% if user_signed_in?%>
            <%today = Date.today%>
            <%if current_user.weight_data.map{|t| t.created_at.to_date}.include?(today)%>
              <p class="card-text">
                You already have entered a weight for this week. Come back tomorrow!
              </p>
            <%else%>
              <%= form_for WeightDatum.new, url: {action: "create", controller: "weight_data"}, remote: true, class: "form-inline" do |f| %>
                <div class="form-group">
                  <%= f.label :weight %>
                  <%= f.text_field :weight, placeholder: "To the nearest 10th", class: "form-control" %>
                </div>

                <%=f.hidden_field :user_id, value: current_user.id%>

                <div class="actions">
                  <%= f.submit "Log Weight", class: "btn btn-primary"%>
                </div>
              <% end %>
            <%end%>
          <%else%>
            <%= link_to 'Sign Up', new_user_registration_path %> or <%= link_to 'Login', new_user_session_path %> to record your weight for this week
          <%end%>
        </div>
      </div>

    </div>
    <div class="col-lg-8">
      <div style="height: 30px" class="d-xs-block d-md-none"></div>
      <%= line_chart @users.map { |user| {name: user.first_name, data: @weight_data[user.id]}} %>
    </div>
  </div>
</div>

<script>
  $("#pay_due").on('click', function() {
    $.ajax({
      url: "<%=paid_url%>",
      data: {'id': <%=current_user.id if user_signed_in? %>}
    })
  });
</script>
