<!DOCTYPE html>
<html>
<head>
  <title>Hotbods</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap-growl.min'%>
  <%= csrf_meta_tags %>
  <style>
    .card-block {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1.25rem;
    }

    a.active {
      color: #212529;
      cursor: default;
      text-decoration: none;
    }
  </style>
</head>
<body style="background: url(https://media1.popsugar-assets.com/files/thumbor/EzxqC2g4VP2xHre2FIeCu9A9fyg/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2014/10/21/601/n/1922729/b6e4d8917f16a68c_giphy/i/OK-maybe-more-than-little-research.gif)">

<%if !!notice%>
  <script>
    $.bootstrapGrowl("<%= notice %>", {
      type: 'success',
      delay: 3000,
      width: 'auto',
    });
  </script>
<%end%>
<%if !!alert%>
  <p class="alert"><%= alert %></p>
<%end%>
<%= yield %>

</body>
</html>
